* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

CHANGELOG.md export-ignore
README.md export-ignore

# Ensure LF endings for scripts and config in CI
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
